.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #b4a9d8;
    font-size: 17px;
}

.button:hover {
    cursor: pointer;
    background-color: #867da6;
}

.button:active {
  scale: 0.95;
}